* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-dark: rgb(51 65 85);
  --color-light: rgb(124, 135, 150);
  --shadow-color: 0deg 0% 71%;
  --shadow-elevation-medium: 0.1px 0.5px 0.6px hsl(var(--shadow-color) / 0.25),
    0.2px 1.6px 1.9px -0.8px hsl(var(--shadow-color) / 0.26),
    0.6px 3.8px 4.4px -1.6px hsl(var(--shadow-color) / 0.27),
    1.4px 9.1px 10.6px -2.3px hsl(var(--shadow-color) / 0.28);

  --spacing: 20px;
}

body {
  padding: 20px;
  background-color: #f0f0f0;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

h1 {
  color: var(--color-dark);
}

ul {
  list-style: none;
}

li {
  margin-top: 0px;
  /* toggle this off in grid */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
}

h2 {
  font-size: 1rem;
  color: var(--color-dark);
}

h3 {
  color: var(--color-light);
  font-weight: 300;
  font-size: 1rem;
}

p {
  color: var(--color-light)
}

.grid {
  display: grid;
  /* the holy grail of css grid 
      repeat(auto-fill, ... says make as many columns that fit
      minmax(200px, 1fr) says the min width is 200, the max is as big as you can get in grid
    */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
}

nav {
  display: fixed;
  margin-top: 10px;
  /* toggle this off in grid */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  /* toggle this off in grid */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
}

a {
  text-decoration: none;
  color: var(--color-light);
  transition-duration: 0.4s;
}

a:hover {
  color: var(--color-dark);
}

.base {
  margin-top: 10px;
  /* toggle this off in grid */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.painting {
  border-radius: 8px;
  max-width: 40%;
  height: 100%;
  margin-right: 20px;
}

.text {
  margin-right: 20px;
}

.bar {
  margin-left: 20px;
}

.gridLong {
  display: grid;
  /* the holy grail of css grid 
      repeat(auto-fill, ... says make as many columns that fit
      minmax(200px, 1fr) says the min width is 200, the max is as big as you can get in grid
    */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 20px;
}

.button {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 1000;
  transition-duration: 0.4s;
}

.inverted {
  margin-top: 10px;
  /* toggle this off in grid */
  background-color: var(--color-dark);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
}

.button:hover {
  color: var(--color-light)
}

.redirect {
  color: var(--color-dark);
}

.redirect:hover {
  color: var(--color-light);
}

.spacer {
  height: var(--spacing);
}